@model IEnumerable<APIMiddleware.Web.Models.RequestMolel>
@{
    ViewData["Title"] = "Requests";
}

<div class="container-fluid">
    <div class="col-md-12">
        <table id="test-registers" class="table">
            <thead>
                <tr>
                    <th style="display:none">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayName("Project")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Path)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Method)
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th>
                        @Html.DisplayName("Time")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ElapsedMilliseconds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSuccess)
                    </th>
                    <th>
                        @Html.DisplayName("Actions")
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/custom/app.js" asp-append-version="true"></script>
}